<ng-template #smoothieListPage>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let smoothie of smoothies; let smoothieIndex = index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{smoothie.title}}
                </mat-panel-title>
                <mat-panel-description>
                    Click for more action
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-tab-group>
                <mat-tab label="View"> <app-recipe [recipeId]="smoothie._id"></app-recipe> </mat-tab>
                <mat-tab label="Modify"> <app-recipe-add [recipeId]="smoothie._id"></app-recipe-add> </mat-tab>
                <mat-tab label="Delete"> 
                    <p style="margin-top: 20px">Are you sure you want to remove this recipe?</p>
                    <div><button mat-raised-button color="warn" (click)="removeSmoothie(smoothie._id, smoothieIndex)"> Yes </button></div>
                </mat-tab>
            </mat-tab-group>
        </mat-expansion-panel>
    </mat-accordion>      
</ng-template>
<ng-container *ngTemplateOutlet="smoothies ? smoothieListPage: ''"></ng-container>

<mat-paginator [length]="length"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            (page)="pageEvent = updateView($event)">
</mat-paginator>

<div *ngIf="pageEvent">
    <h5>Page Change Event Properties</h5>
    <div>List length: {{pageEvent.length}}</div>
    <div>Page size: {{pageEvent.pageSize}}</div>
    <div>Page index: {{pageEvent.pageIndex}}</div>
</div>