
<form class="example-form">
  <mat-form-field class="example-full-width">
    
    <input type="text" placeholder="Filter recipes" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-grid-list cols="3" rowHeight="500">
  <ng-container *ngFor="let smoothie of smoothies" >
    
    <mat-grid-tile *ngIf="selected.has(smoothie._id) === true" >       
      <app-recipe [recipeId]="smoothie._id"></app-recipe>
    </mat-grid-tile>
  </ng-container>
</mat-grid-list>
